In [1]:
#Name:Shanakay Brandford
import pandas as pd
import numpy as np

In [2]:
studentsfile = "Desktop/NumPyHW/students_complete.csv"
schoolsfile ="Desktop/NumPyHW/schools_complete.csv"

In [3]:
students_df = pd.read_csv(studentsfile, encoding = "UTF-8")
schools_df = pd.read_csv(schoolsfile, encoding = "UTF-8")

In [4]:
students_df.columns
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
schools_df.columns
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
merge_SchStu =pd.merge(students_df,schools_df,how="left",left_on="school",right_on="name")
merge_SchStu.head()

,Student ID,name_x,gender,grade,school,reading_score,math_score,School ID,name_y,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,Huang High School,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,Huang High School,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,Huang High School,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,Huang High School,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,Huang High School,District,2917,1910635

In [7]:
merge_df = merge_SchStu.rename(columns={"name_x":"student name", "name_y":"school name"})
merge_df.head()

,Student ID,student name,gender,grade,school,reading_score,math_score,School ID,school name,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,Huang High School,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,Huang High School,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,Huang High School,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,Huang High School,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,Huang High School,District,2917,1910635

In [8]:
num_Students = merge_df['student name'].count()
num_Schools = len(merge_df['school name'].unique())
total_Budget = merge_df['budget'].unique().sum()

avg_Math = round(merge_df['math_score'].mean(),2)
avg_Reading = round(merge_df['reading_score'].mean(),2)

#The passing percentage for both Math and Reading is a score greater than 69%

passing_Mathcount = merge_df[(merge_df['math_score']>69)]['math_score'].count()
percent_passMath = round((passing_Mathcount/num_Students)*100,2)

passing_Readcount = merge_df[(merge_df['reading_score']>69)]['reading_score'].count()
percent_passRead = round((passing_Readcount/num_Students)*100,2)

overall_Passing_Rate =(percent_passMath+percent_passRead)/2

num_Students,passing_Mathcount, percent_passMath,passing_Readcount,percent_passRead,overall_Passing_Rate

#passing_Math = merge_df[(merge_df["math_score"]>=avg_Math,merge_df["student name"].counts()
                        
#student["name"].count

#passing_Math = merge_df["math_score"].max()
#passing_Reading = students_df["reading_score"].max()
#overall_passing = (passing_Math + passing_Reading)/2

#num_Students, num_Schools, total_Budget, avg_Math, avg_Reading, 
#passing_Math, passing_Reading, overall_passing

(39170, 29370, 74.98, 33610, 85.81, 80.39500000000001)

In [9]:
merge_df.head()

,Student ID,student name,gender,grade,school,reading_score,math_score,School ID,school name,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,Huang High School,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,Huang High School,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,Huang High School,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,Huang High School,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,Huang High School,District,2917,1910635

In [10]:
DistrictSummary = pd.DataFrame({"Total Students":[num_Students],
                   "Total Schools":[num_Schools],
                   "Total Budget":[total_Budget],
                   "Average Math Score":[avg_Math],
                   "Average Reading Score":[avg_Reading],
                   "% Passing Math":[percent_passMath],
                   "% Passing Reading":[percent_passRead],
                   "Overall Passing Rate":[overall_Passing_Rate],
                                })

DistrictSummary

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,74.98,85.81,78.99,81.88,80.395,24649428,15,39170

In [11]:
organized_DSummary = DistrictSummary[["Total Students", "Total Schools","Total Budget","Average Math Score","Average Reading Score","% Passing Math", "% Passing Reading", "Overall Passing Rate"]]
organized_DSummary

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,39170,15,24649428,78.99,81.88,74.98,85.81,80.395

In [12]:
#school_Summary = merge_df[["school name","type","size","budget"]]
#numStu = students_df["Student ID"].count()
#numStu
#school_Summary.head()
#schools = merge_df[['school name','type']]
#school_type = merge_df[([schools][merge_df["type"]])]
#schools.value_COUNTS()
school_summary_df = merge_df.groupby(["school name","type"]).agg({'student name':"count",
                                                                           'math_score':"mean",
                                                                           'reading_score':"mean",
                                                                           'budget':"mean"
                                                                         })

school_summary_df

,,student name,math_score,reading_score,budget
school name,type,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928
Cabrera High School,Charter,1858,83.061895,83.975780,1081356
Figueroa High School,District,2949,76.711767,81.158020,1884411
Ford High School,District,2739,77.102592,80.746258,1763916
Griffin High School,Charter,1468,83.351499,83.816757,917500
Hernandez High School,District,4635,77.289752,80.934412,3022020
Holden High School,Charter,427,83.803279,83.814988,248087
Huang High School,District,2917,76.629414,81.182722,1910635
Johnson High School,District,4761,77.072464,80.966394,3094650
Pena High School,Charter,962,83.839917,84.044699,585858
Rodriguez High School,District,3999,76.842711,80.744686,2547363
Shelton High School,Charter,1761,83.359455,83.725724,1056600
Thomas High School,Charter,1635,83.418349,83.848930,1043130
Wilson High School,Charter,2283,83.274201,83.989488,1319574
Wright High School,Charter,1800,83.682222,83.955000,1049400

In [13]:
school_summary_v1 = school_summary_df.rename(columns={"school name":"School Name","student name":"Total Students","type":"School Type","budget":"Total School Budget","math_score":"Average Math Score","reading_score":"Average Reading Score"})
school_summary_v1

,,Total Students,Average Math Score,Average Reading Score,Total School Budget
school name,type,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928
Cabrera High School,Charter,1858,83.061895,83.975780,1081356
Figueroa High School,District,2949,76.711767,81.158020,1884411
Ford High School,District,2739,77.102592,80.746258,1763916
Griffin High School,Charter,1468,83.351499,83.816757,917500
Hernandez High School,District,4635,77.289752,80.934412,3022020
Holden High School,Charter,427,83.803279,83.814988,248087
Huang High School,District,2917,76.629414,81.182722,1910635
Johnson High School,District,4761,77.072464,80.966394,3094650
Pena High School,Charter,962,83.839917,84.044699,585858
Rodriguez High School,District,3999,76.842711,80.744686,2547363
Shelton High School,Charter,1761,83.359455,83.725724,1056600
Thomas High School,Charter,1635,83.418349,83.848930,1043130
Wilson High School,Charter,2283,83.274201,83.989488,1319574
Wright High School,Charter,1800,83.682222,83.955000,1049400

In [14]:
#school_summary_df['Per Student Budget'] = school_summary_df["budget"]/school_summary_df["student name"]

passing_math_count = merge_df[(merge_df["math_score"]>69)] 
passing_math_count_school = passing_math_count.groupby("school name").agg({"math_score":"count"})
passing_math_count_school = passing_math_count_school.rename(columns={"math_score":"Count_passingMath"})
passing_math_count_school

                       Count_passingMath
school name
Bailey High School                  3318
Cabrera High School                 1749
Figueroa High School                1946
Ford High School                    1871
Griffin High School                 1371
Hernandez High School               3094
Holden High School                   395
Huang High School                   1916
Johnson High School                 3145
Pena High School                     910
Rodriguez High School               2654
Shelton High School                 1653
Thomas High School                  1525
Wilson High School                  2143
Wright High School                  1680

In [15]:
passing_reading_count = merge_df[(merge_df["reading_score"]>69)] 
passing_reading_count_school = passing_reading_count.groupby("school name").agg({"reading_score":"count"})
passing_reading_count_school = passing_reading_count_school.rename(columns={"reading_score":"Count_passingReading"})
passing_reading_count_school

                       Count_passingReading
school name
Bailey High School                     4077
Cabrera High School                    1803
Figueroa High School                   2381
Ford High School                       2172
Griffin High School                    1426
Hernandez High School                  3748
Holden High School                      411
Huang High School                      2372
Johnson High School                    3867
Pena High School                        923
Rodriguez High School                  3208
Shelton High School                    1688
Thomas High School                     1591
Wilson High School                     2204
Wright High School                     1739

In [16]:
school_summary_v2 = school_summary_v1.join(passing_reading_count_school,rsuffix="ct")
school_summary_v2

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Count_passingReading
school name,type,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,4077
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,1803
Figueroa High School,District,2949,76.711767,81.158020,1884411,2381
Ford High School,District,2739,77.102592,80.746258,1763916,2172
Griffin High School,Charter,1468,83.351499,83.816757,917500,1426
Hernandez High School,District,4635,77.289752,80.934412,3022020,3748
Holden High School,Charter,427,83.803279,83.814988,248087,411
Huang High School,District,2917,76.629414,81.182722,1910635,2372
Johnson High School,District,4761,77.072464,80.966394,3094650,3867
Pena High School,Charter,962,83.839917,84.044699,585858,923
Rodriguez High School,District,3999,76.842711,80.744686,2547363,3208
Shelton High School,Charter,1761,83.359455,83.725724,1056600,1688
Thomas High School,Charter,1635,83.418349,83.848930,1043130,1591
Wilson High School,Charter,2283,83.274201,83.989488,1319574,2204
Wright High School,Charter,1800,83.682222,83.955000,1049400,1739

In [17]:
school_summary_v3 = school_summary_v2.join(passing_math_count_school,rsuffix="ct")
school_summary_v3

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Count_passingReading,Count_passingMath
school name,type,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,4077,3318
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,1803,1749
Figueroa High School,District,2949,76.711767,81.158020,1884411,2381,1946
Ford High School,District,2739,77.102592,80.746258,1763916,2172,1871
Griffin High School,Charter,1468,83.351499,83.816757,917500,1426,1371
Hernandez High School,District,4635,77.289752,80.934412,3022020,3748,3094
Holden High School,Charter,427,83.803279,83.814988,248087,411,395
Huang High School,District,2917,76.629414,81.182722,1910635,2372,1916
Johnson High School,District,4761,77.072464,80.966394,3094650,3867,3145
Pena High School,Charter,962,83.839917,84.044699,585858,923,910
Rodriguez High School,District,3999,76.842711,80.744686,2547363,3208,2654
Shelton High School,Charter,1761,83.359455,83.725724,1056600,1688,1653
Thomas High School,Charter,1635,83.418349,83.848930,1043130,1591,1525
Wilson High School,Charter,2283,83.274201,83.989488,1319574,2204,2143
Wright High School,Charter,1800,83.682222,83.955000,1049400,1739,1680

In [18]:
school_summary_v3["% Passing Math"] = round((school_summary_v3['Count_passingMath']/school_summary_v3['Total Students'])*100)
school_summary_v3["% Passing Reading"] = round((school_summary_v3['Count_passingReading']/school_summary_v3['Total Students'])*100)
school_summary_v3["Per Student Budget"] = school_summary_v3['Total School Budget']/school_summary_v3['Total Students']
school_summary_v3

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Count_passingReading,Count_passingMath,% Passing Math,% Passing Reading,Per Student Budget
school name,type,,,,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,4077,3318,67.0,82.0,628.0
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,1803,1749,94.0,97.0,582.0
Figueroa High School,District,2949,76.711767,81.158020,1884411,2381,1946,66.0,81.0,639.0
Ford High School,District,2739,77.102592,80.746258,1763916,2172,1871,68.0,79.0,644.0
Griffin High School,Charter,1468,83.351499,83.816757,917500,1426,1371,93.0,97.0,625.0
Hernandez High School,District,4635,77.289752,80.934412,3022020,3748,3094,67.0,81.0,652.0
Holden High School,Charter,427,83.803279,83.814988,248087,411,395,93.0,96.0,581.0
Huang High School,District,2917,76.629414,81.182722,1910635,2372,1916,66.0,81.0,655.0
Johnson High School,District,4761,77.072464,80.966394,3094650,3867,3145,66.0,81.0,650.0
Pena High School,Charter,962,83.839917,84.044699,585858,923,910,95.0,96.0,609.0
Rodriguez High School,District,3999,76.842711,80.744686,2547363,3208,2654,66.0,80.0,637.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,1688,1653,94.0,96.0,600.0
Thomas High School,Charter,1635,83.418349,83.848930,1043130,1591,1525,93.0,97.0,638.0
Wilson High School,Charter,2283,83.274201,83.989488,1319574,2204,2143,94.0,97.0,578.0
Wright High School,Charter,1800,83.682222,83.955000,1049400,1739,1680,93.0,97.0,583.0

In [19]:
school_summary_v3["Overall Passing Rate"] = ((school_summary_v3["% Passing Reading"]+school_summary_v3["% Passing Math"])/2)
school_summary_v3

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Count_passingReading,Count_passingMath,% Passing Math,% Passing Reading,Per Student Budget,Overall Passing Rate
school name,type,,,,,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,4077,3318,67.0,82.0,628.0,74.5
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,1803,1749,94.0,97.0,582.0,95.5
Figueroa High School,District,2949,76.711767,81.158020,1884411,2381,1946,66.0,81.0,639.0,73.5
Ford High School,District,2739,77.102592,80.746258,1763916,2172,1871,68.0,79.0,644.0,73.5
Griffin High School,Charter,1468,83.351499,83.816757,917500,1426,1371,93.0,97.0,625.0,95.0
Hernandez High School,District,4635,77.289752,80.934412,3022020,3748,3094,67.0,81.0,652.0,74.0
Holden High School,Charter,427,83.803279,83.814988,248087,411,395,93.0,96.0,581.0,94.5
Huang High School,District,2917,76.629414,81.182722,1910635,2372,1916,66.0,81.0,655.0,73.5
Johnson High School,District,4761,77.072464,80.966394,3094650,3867,3145,66.0,81.0,650.0,73.5
Pena High School,Charter,962,83.839917,84.044699,585858,923,910,95.0,96.0,609.0,95.5
Rodriguez High School,District,3999,76.842711,80.744686,2547363,3208,2654,66.0,80.0,637.0,73.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,1688,1653,94.0,96.0,600.0,95.0
Thomas High School,Charter,1635,83.418349,83.848930,1043130,1591,1525,93.0,97.0,638.0,95.0
Wilson High School,Charter,2283,83.274201,83.989488,1319574,2204,2143,94.0,97.0,578.0,95.5
Wright High School,Charter,1800,83.682222,83.955000,1049400,1739,1680,93.0,97.0,583.0,95.0

In [20]:
schoolSummary = school_summary_v3[["Total Students","Average Math Score","Average Reading Score","Total School Budget",
                                   "Per Student Budget","% Passing Math","% Passing Reading","Overall Passing Rate"]]

schoolSummary

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school name,type,,,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,628.0,67.0,82.0,74.5
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.0,97.0,95.5
Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,66.0,81.0,73.5
Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.0,79.0,73.5
Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.0,97.0,95.0
Hernandez High School,District,4635,77.289752,80.934412,3022020,652.0,67.0,81.0,74.0
Holden High School,Charter,427,83.803279,83.814988,248087,581.0,93.0,96.0,94.5
Huang High School,District,2917,76.629414,81.182722,1910635,655.0,66.0,81.0,73.5
Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.0,81.0,73.5
Pena High School,Charter,962,83.839917,84.044699,585858,609.0,95.0,96.0,95.5
Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.0,80.0,73.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,94.0,96.0,95.0
Thomas High School,Charter,1635,83.418349,83.848930,1043130,638.0,93.0,97.0,95.0
Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,94.0,97.0,95.5
Wright High School,Charter,1800,83.682222,83.955000,1049400,583.0,93.0,97.0,95.0

In [21]:
schoolSummary

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school name,type,,,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,628.0,67.0,82.0,74.5
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.0,97.0,95.5
Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,66.0,81.0,73.5
Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.0,79.0,73.5
Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.0,97.0,95.0
Hernandez High School,District,4635,77.289752,80.934412,3022020,652.0,67.0,81.0,74.0
Holden High School,Charter,427,83.803279,83.814988,248087,581.0,93.0,96.0,94.5
Huang High School,District,2917,76.629414,81.182722,1910635,655.0,66.0,81.0,73.5
Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.0,81.0,73.5
Pena High School,Charter,962,83.839917,84.044699,585858,609.0,95.0,96.0,95.5
Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.0,80.0,73.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,94.0,96.0,95.0
Thomas High School,Charter,1635,83.418349,83.848930,1043130,638.0,93.0,97.0,95.0
Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,94.0,97.0,95.5
Wright High School,Charter,1800,83.682222,83.955000,1049400,583.0,93.0,97.0,95.0

In [22]:
sortSummary = schoolSummary.sort_values(['Overall Passing Rate'], ascending=False)
sortSummary

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school name,type,,,,,,,,
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.0,97.0,95.5
Pena High School,Charter,962,83.839917,84.044699,585858,609.0,95.0,96.0,95.5
Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,94.0,97.0,95.5
Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.0,97.0,95.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,94.0,96.0,95.0
Thomas High School,Charter,1635,83.418349,83.848930,1043130,638.0,93.0,97.0,95.0
Wright High School,Charter,1800,83.682222,83.955000,1049400,583.0,93.0,97.0,95.0
Holden High School,Charter,427,83.803279,83.814988,248087,581.0,93.0,96.0,94.5
Bailey High School,District,4976,77.048432,81.033963,3124928,628.0,67.0,82.0,74.5
Hernandez High School,District,4635,77.289752,80.934412,3022020,652.0,67.0,81.0,74.0
Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,66.0,81.0,73.5
Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.0,79.0,73.5
Huang High School,District,2917,76.629414,81.182722,1910635,655.0,66.0,81.0,73.5
Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.0,81.0,73.5
Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.0,80.0,73.0

In [23]:
top_Perfoming_Schools = sortSummary.iloc[:5]
top_Perfoming_Schools

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school name,type,,,,,,,,
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.0,97.0,95.5
Pena High School,Charter,962,83.839917,84.044699,585858,609.0,95.0,96.0,95.5
Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,94.0,97.0,95.5
Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.0,97.0,95.0
Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,94.0,96.0,95.0

In [24]:
bottom_Perfoming_Schools = sortSummary.iloc[-5:]
bottom_Perfoming_Schools

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
school name,type,,,,,,,,
Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,66.0,81.0,73.5
Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.0,79.0,73.5
Huang High School,District,2917,76.629414,81.182722,1910635,655.0,66.0,81.0,73.5
Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.0,81.0,73.5
Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.0,80.0,73.0

In [25]:
Mathscores_byGrade = merge_df.groupby(["school name","grade"]).agg({"math_score":"mean"})                                                          
Mathscores_byGrade

                             math_score
school name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [26]:
mathbyGrade = pd.pivot_table(Mathscores_byGrade,index=["school name"],columns=["grade"])
mathbyGrade

                      math_score
grade                       10th       11th       12th        9th
school name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [27]:
ReadingbyGrade = merge_df.groupby(["school name","grade"]).agg({"reading_score":"mean"}) 
ReadingbyGrade['reading_score'] = ReadingbyGrade["reading_score"].astype(float).map("{:.2f}%".format)
ReadingbyGrade
#ReadingbyGrade = pd.pivot_table(ReadingbyGrade,index=["school name"],columns=["grade"])

                            reading_score
school name           grade
Bailey High School    10th         80.91%
                      11th         80.95%
                      12th         80.91%
                      9th          81.30%
Cabrera High School   10th         84.25%
                      11th         83.79%
                      12th         84.29%
                      9th          83.68%
Figueroa High School  10th         81.41%
                      11th         80.64%
                      12th         81.38%
                      9th          81.20%
Ford High School      10th         81.26%
                      11th         80.40%
                      12th         80.66%
                      9th          80.63%
Griffin High School   10th         83.71%
                      11th         84.29%
                      12th         84.01%
                      9th          83.37%
Hernandez High School 10th         80.66%
                      11th         81.40%
                      12th         80.86%
                      9th          80.87%
Holden High School    10th         83.32%
                      11th         83.82%
                      12th         84.70%
                      9th          83.68%
Huang High School     10th         81.51%
                      11th         81.42%
                      12th         80.31%
                      9th          81.29%
Johnson High School   10th         80.77%
                      11th         80.62%
                      12th         81.23%
                      9th          81.26%
Pena High School      10th         83.61%
                      11th         84.34%
                      12th         84.59%
                      9th          83.81%
Rodriguez High School 10th         80.63%
                      11th         80.86%
                      12th         80.38%
                      9th          80.99%
Shelton High School   10th         83.44%
                      11th         84.37%
                      12th         82.78%
                      9th          84.12%
Thomas High School    10th         84.25%
                      11th         83.59%
                      12th         83.83%
                      9th          83.73%
Wilson High School    10th         84.02%
                      11th         83.76%
                      12th         84.32%
                      9th          83.94%
Wright High School    10th         83.81%
                      11th         84.16%
                      12th         84.07%
                      9th          83.83%

In [28]:
maxSpending = schoolSummary["Per Student Budget"].max()
minSpending = schoolSummary["Per Student Budget"].min()
maxSpending, minSpending

(655.0, 578.0)

In [29]:
#spendingBins = np.arange(minSpending,maxSpending+6,22
bins = [577,590,620,655]
group_names = ["less than $590","Between $590 and 619","Between $620 and 655"]

In [30]:
schoolSummary["Spending Range"] = pd.cut(schoolSummary["Per Student Budget"], bins, labels=group_names)

schoolSummary

C:\Users\Shanakay\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,,Total Students,Average Math Score,Average Reading Score,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Range
school name,type,,,,,,,,,
Bailey High School,District,4976,77.048432,81.033963,3124928,628.0,67.0,82.0,74.5,Between $620 and 655
Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.0,97.0,95.5,less than $590
Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,66.0,81.0,73.5,Between $620 and 655
Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.0,79.0,73.5,Between $620 and 655
Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.0,97.0,95.0,Between $620 and 655
Hernandez High School,District,4635,77.289752,80.934412,3022020,652.0,67.0,81.0,74.0,Between $620 and 655
Holden High School,Charter,427,83.803279,83.814988,248087,581.0,93.0,96.0,94.5,less than $590
Huang High School,District,2917,76.629414,81.182722,1910635,655.0,66.0,81.0,73.5,Between $620 and 655
Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.0,81.0,73.5,Between $620 and 655
Pena High School,Charter,962,83.839917,84.044699,585858,609.0,95.0,96.0,95.5,Between $590 and 619
Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.0,80.0,73.0,Between $620 and 655
Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,94.0,96.0,95.0,Between $590 and 619
Thomas High School,Charter,1635,83.418349,83.848930,1043130,638.0,93.0,97.0,95.0,Between $620 and 655
Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,94.0,97.0,95.5,less than $590
Wright High School,Charter,1800,83.682222,83.955000,1049400,583.0,93.0,97.0,95.0,less than $590

In [31]:
scoresbySchoolSpending = schoolSummary.groupby("Spending Range").agg({'Average Math Score':"mean",
                                                                     'Average Reading Score':"mean",
                                                                     '% Passing Math':"mean",
                                                                     '% Passing Reading':"mean",
                                                                     'Overall Passing Rate':"mean"})

scoresbySchoolSpending['Average Math Score'] = scoresbySchoolSpending["Average Math Score"].astype(float).map("{:.2f}%".format)
scoresbySchoolSpending['Average Reading Score'] = scoresbySchoolSpending["Average Reading Score"].astype(float).map("{:.2f}%".format)
scoresbySchoolSpending['% Passing Math'] = scoresbySchoolSpending["% Passing Math"].astype(float).map("{:.2f}%".format)
scoresbySchoolSpending['% Passing Reading'] = scoresbySchoolSpending["% Passing Reading"].astype(float).map("{:.2f}%".format)
scoresbySchoolSpending['Overall Passing Rate'] = scoresbySchoolSpending["Overall Passing Rate"].astype(float).map("{:.2f}%".format)

scoresbySchoolSpending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Range,,,,,
less than $590,83.46%,83.93%,93.50%,96.75%,95.12%
Between $590 and 619,83.60%,83.89%,94.50%,96.00%,95.25%
Between $620 and 655,78.39%,81.60%,72.44%,84.33%,78.39%

In [32]:
maxSize = schoolSummary['Total Students'].max()
minSize = schoolSummary['Total Students'].min()
minSize,maxSize

(427, 4976)

In [33]:
#sizeBins = np.arange(minSize,maxSize,1000)
sizeBins = [426,1000,3000,5000]
szGroup = ["Small(<1000)","Medium(1000-3000)","Large(3000-5000)"]

In [34]:
schoolSummary['School Size']=pd.cut(schoolSummary["Total Students"],sizeBins,labels=szGroup)

In [35]:
scoresBySchoolSize = schoolSummary.groupby("School Size").agg({'Average Math Score':"mean",
                                                                     'Average Reading Score':"mean",
                                                                     '% Passing Math':"mean",
                                                                     '% Passing Reading':"mean",
                                                                     'Overall Passing Rate':"mean"})

scoresBySchoolSize['Average Math Score'] = scoresBySchoolSize["Average Math Score"].astype(float).map("{:.2f}%".format)
scoresBySchoolSize['Average Reading Score'] = scoresBySchoolSize["Average Reading Score"].astype(float).map("{:.2f}%".format)
scoresBySchoolSize['% Passing Math'] = scoresBySchoolSize["% Passing Math"].astype(float).map("{:.2f}%".format)
scoresBySchoolSize['% Passing Reading'] = scoresBySchoolSize["% Passing Reading"].astype(float).map("{:.2f}%".format)
scoresBySchoolSize['Overall Passing Rate'] = scoresBySchoolSize["Overall Passing Rate"].astype(float).map("{:.2f}%".format)

scoresBySchoolSize

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small(<1000),83.82%,83.93%,94.00%,96.00%,95.00%
Medium(1000-3000),81.18%,82.93%,84.56%,91.33%,87.94%
Large(3000-5000),77.06%,80.92%,66.50%,81.00%,73.75%

In [36]:
scoresBySchoolType = schoolSummary.groupby("type").agg({'Average Math Score':"mean",
                          S                                           'Average Reading Score':"mean",
                                                                     '% Passing Math':"mean",
                                                                     '% Passing Reading':"mean",
                                                                     'Overall Passing Rate':"mean"})

scoresBySchoolType['Average Math Score'] = scoresBySchoolType["Average Math Score"].astype(float).map("{:.2f}%".format)
scoresBySchoolType['Average Reading Score'] = scoresBySchoolType["Average Reading Score"].astype(float).map("{:.2f}%".format)
scoresBySchoolType['% Passing Math'] = scoresBySchoolType["% Passing Math"].astype(float).map("{:.2f}%".format)
scoresBySchoolType['% Passing Reading'] = scoresBySchoolType["% Passing Reading"].astype(float).map("{:.2f}%".format)
scoresBySchoolType['Overall Passing Rate'] = scoresBySchoolType["Overall Passing Rate"].astype(float).map("{:.2f}%".format)

scoresBySchoolType

SyntaxError: invalid syntax (<ipython-input-36-d7653253a381>, line 2)

In [ ]:
#schoolSummary["Average Math Score"]=schoolSummary["Average Math Score"].astype(float).map("{:.2f}%".format)
#schoolSummary["Average Reading Score"]=schoolSummary["Average Reading Score"].astype(float).map("{:.2f}%".format)
#schoolSummary["Total School Budget"]=schoolSummary["Total School Budget"].astype(float).map("${:,.2f}".format)
#schoolSummary["Per Student Budget"]=schoolSummary["Per Student Budget"].astype(float).map("${:.2f}".format)
#schoolSummary["% Passing Math"]=schoolSummary["% Passing Math"].astype(float).map("{:.2f}%".format)
#schoolSummary["% Passing Reading"]=schoolSummary["% Passing Reading"].astype(float).map("{:.2f}%".format)
#schoolSummary["Overall Passing Rate"]=schoolSummary["Overall Passing Rate"].astype(float).map("{:.2f}%".format)